/*@keyframes animateGem {
    100% {
        top:50px;
        left:50px;
    }
}

.animateGem {
    animation-name: animateGem;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}*/

#diamond, #emerald, #sapphire, #ruby{
    position:absolute;
    z-index:4;
    top:0;
    left:0;
}

.treasureContent {
    min-height: 100px;
    background: #c2bbbb;
    top: -120px;
/*}

.revealContent {*/
    animation: revealChestContent;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    z-index: 2;
}

.hideTreasure {
    min-height: 100px;
    background: #c2bbbb;
    top: -120px;
    animation: hideChestContent;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    z-index: 2;
}


@keyframes revealChestContent {
    0% {
        top: -120px;
        min-height: 100px;
    }

    100% {
        top: -240px;
        min-height: 120px;
    }
}

@keyframes hideChestContent {
    0% {
        top: -240px;
        min-height: 120px;
    }

    100% {
        top: -120px;
        min-height: 100px;
    }
}

.animateGem {
    animation-name: animateGem;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.stashedTreasure {
    margin: auto;
    width: 40%;
    margin-top: 20px;
}

.block {
    display: block;
}

.treasureCount {
    float: right;
    position: absolute;
    color: white;
}
