
#response {
    color: darkgreen;
    margin-top:10px;
}

#error {
    color:darkred;
    margin-top:10px;
}

body {
    margin-top:60px
}


.hide, .hidden {
    display:none;
}

.show, .visible {
    display:block;
}
.myHeadlines, .exmenu {
    margin-bottom: 20px;
    
}

.buttons, .lamps, .dog {
    display: block;
    float: left;
    height: 220px;
    /*border: 1px solid black;*/
}
.buttons{
    margin-right: 40px;
}

.btn-primary{
    display: block;
    margin-bottom: 10px;
    width: 150px;
}
.btn-primary:focus{
    box-shadow:none;
}

.Ex4Lamps {
    width: 150px;
}

.square{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    background-color: red;
}

.dogpic{
    margin:50px;
}
.dog{
    width: 420px;
    height: 420px;
    text-align:center;
    vertical-align: middle;
}
.inactive, .inactive:focus, .inactive:hover, .inactive:visited{
    background-color: darkgray;
    border: 1px solid gray;
}
